* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial Narrow', Arial, sans-serif;
    background: #faf4cd;
    color: #3d485d;
    line-height: 1.6;
}


nav {
    background-color: #3d485d;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

nav a {
    color: #faf4cd;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
}

nav a:hover {
    background-color: #eccacb;
    color: #3d485d;
}


.photo {
    padding: 40px 20px;
    text-align: center;
    background: #93abdb;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 0 0 15px 15px;
}

.photo img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid #eccacb;
}


section {
    padding: 60px 20px;
    max-width: 1000px;
    min-width: 280px;
    margin: auto;
}

section h1, section h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 15px;
}


#about-me p {
    text-align: center;
    font-size: 18px;
    max-width: 700px;
    margin: auto;
}


.idk {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 700px;
    margin: auto;
}

.idk p {
    background-color: #eccacb;
    padding: 15px 25px;
    border-radius: 15px;
    font-size: 18px;
    transition: 0.3s;
}


.proj {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.proj p {
    background-color: #93abdb;
    padding: 20px;
    border-radius: 15px;
    max-width: 300px;
    min-width: 250px;
    text-align: center;
}

.proj img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 15px;
}



.reviewss {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.reviewss p {
    background-color: #eccacb;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.review-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    width: 100%;
}

.review-form textarea {
    padding: 15px;
    border-radius: 12px;
    border: 2px solid #93abdb;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

.review-form textarea:focus {
    border-color: #3d485d;
    background-color: #faf4cd;
}

.review-form button {
    padding: 15px;
    border: none;
    border-radius: 12px;
    background-color: #3d485d;
    color: #faf4cd;
    font-size: 18px;
    cursor: pointer;

}



#contacts{
    text-align: center;
    background: #93abdb;
    padding: 40px 20px;
    border-radius: 15px;
}

#contacts i, #contacts p {
    color: #3d485d;
    margin: 10px;
}



footer {
    text-align: center;
    padding: 20px;
    background: #3d485d;
    color: #faf4cd;
    margin-top: 40px;
}



@media (max-width: 600px) {

    nav {
        gap: 15px;
    }

    .photo img {
        width: 100px;
        height: 100px;
    }

    section {
        padding: 40px 15px;
    }

    .idk {
        align-items: center;
    }

    .proj p {
        max-width: 100%;
    }

    section h1, section h2 {
        font-size: 22px;
    }
    #about-me p, #contacts p {
        font-size: 16px;
    }
    .review-form {
        width: 100%;
    }

    .review-form textarea {
        font-size: 14px;
    }

    .review-form button {
        font-size: 16px;
    }
}


@media (min-width: 768px) and (max-width: 1024px){
    nav {
        gap: 30px;
    }

    .proj {
        align-items: center;
    }

    section h1, section h2 {
        font-size: 24px;
    }
}

@media (min-width: 1024px){
    nav {
        gap: 30px;
    }

    .proj {
        align-items: center;
    }

    section h1, section h2 {
        font-size: 28px;
    }
}