/* body{
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 20px ;
    background-color: rgb(218, 211, 201);
}

h1{
    font-size: 1.25rem;
    color:#5E83AE;
}

h2{
    font-size: 1.25em;
    color: #0011AA;
    color: #01A;
    font-style: italic;
} */
/* 
.first{
    font-size: 1.25rem;
    color: rgb(5, 39, 77);
    margin-bottom: 100px;
}

/* p{
    font-size: 22px;
    color:rgb(114, 20, 20);
} */


/* body{
    background-image: url('https://i.pinimg.com/736x/e1/44/dc/e144dc250e25113c7f5450b9c61349da.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */
